
.container {
    background-color:#092B3E;
    padding:24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    color: #FFFF00;
    text-align: center;
}

.formContainer {
    width: 100%;
}

.form {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap:30px;
}

@media (min-width: 1200px) {
    .main {
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(/background.jpg);
    background-position: center;
    background-size: 100% 100%;
    padding: 48px 0px;
    }
    .mainContainer {
        background-color: #FFFF00;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding:4px;
    }

    .container {
    -webkit-box-shadow: 2px 6px 53px 0px rgba(0,0,0,1);
    -moz-box-shadow: 2px 6px 53px 0px rgba(0,0,0,1);
    box-shadow: 2px 10px 53px 3px rgba(0,0,0,1);
    border-radius: 20px;
    }

    .form {
    gap:24px;
    }

    .title {
        text-align: left;
    }
}